<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div *ngIf="pageContainsAlert === true" class="alert alert-primary" role="alert">{{alertText}}</div>
                <form role="form">
                    <div class="form-group">
                         
                        <label for="exampleInputEmail1">
                            Email
                        </label>
                        <input [(ngModel)]="userName" name="userName" class="form-control" id="exampleInputEmail1" />
                    </div>
                    <div class="form-group">
                         
                        <label for="exampleInputPassword1">
                            Password
                        </label>
                        <input [(ngModel)]="password1" name="password1" type="password" class="form-control" id="exampleInputPassword1" />
                    </div>
                    <div class="form-group">
                         
                        <label for="exampleInputPassword1">
                            Reenter Password
                        </label>
                        <input [(ngModel)]="password2" name="password2" type="password" class="form-control" id="exampleInputPassword2" />
                    </div>
                    <div class="form-group">
                    </div>
                    <button (click)="processSignup()" class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
