<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <mat-form-field appearance="fill">
        <mat-label>Select a list</mat-label>
        <mat-select [(value)]="selectedList" (selectionChange)="onListSelectChange($event)">
          <mat-option *ngFor="let list of lists" [value]="list.id">{{list.name}}</mat-option>
          <!--<mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>-->
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-1"></div> 
    <div class="col-1"><button mat-button (click)="shareList()">S</button></div>
    <div class="col-1"></div>
    <div class="col-1">d</div>
  </div>
</div>
<app-list-items [selectedList]="selectedListObject"></app-list-items>